body{
    display: flex;
    justify-content: space-around;
}
h1, h2, h3, h4, p{
    text-align: center;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #2B8396;
}
h1{
    color: #2B8396;
    font-weight: bold;
    font-size: 83.1064px;
    line-height: 60px;
}
p{
    color: #119F4A;
}
.image{
    padding: 30px;
    margin-left: 150px;
}
.text{
    width: 50%;
    padding: 30px;
    align-items: center;
}
.vl{
    border-right: 1px solid #2B8396;
    height: 620px;
    margin-top: 50px;
    margin-left: 50px;
}
input[type=email], input[type=password]{
    width: 360px;
    height: 50px;
    padding: 7px;
    border: none;
    background: #EBEBEB;
    margin-left: 180px;
}
input[type=checkbox]{
    border: 2px solid #119F4A;
    box-sizing: border-box;
    margin-left: 180px;
}
span{
    margin-left: 440px;
}
button{
    padding: 15px;
    width: 300px;
    height: 50px;
    border: none;
    background-color: #159B56;
    color: white;
    align-items: center;
    margin-left: 220px;
}
.download{
    display: flex;
    justify-content: space-evenly;
    margin-left: 70px;
}
.App, .App1{
    width: 115.57px;
    height: 37.8px;
    background-color: #175E6D;
    color: white;
    border-radius: 8px;
    padding: 7px;
}
a{
    text-decoration: none;
    color: #175E6D;
}
@media only screen and (max-width: 750px){
    body{
        flex-direction: column;
    }
    .vl{
        display: none;
    }
    .image{
        margin-left: 0;
    }
    img{
        width: 350px;
        height: 500px;
    }
    .download{
        width: 100%;
        justify-content: space-evenly;
        margin-left: 45%;
    }
    .App1, .App{
        width: 50%;
        height: 50px;  
        margin-left: 20px; 
    }
    h1{
        margin-left: 50%;
    }
    h2, h3, p{
        margin-left: 70%;
    }
    span{
        margin-left: 40%;
    }
    button{
        margin-left: 40%;
    }
    input[type=email], input[type=password], input[type=checkbox], span{
        margin-left: 20%;
    }
}